{% extends "base.html" %}

{% block script %}
<script>

    function addDiagnosis(text) {
        document.getElementById('diagn').value = document.getElementById('diagn').value + text + '\n';
        sessionStorage.setItem('diagn', document.getElementById('diagn').value);
        radioText = false
        return radioText
    }

    function removeDiagnosis(text) {
        console.log(text)
        document.getElementById('diagn').value = document.getElementById('diagn').value.replace(text + '\n', '')
        sessionStorage.setItem('diagn', document.getElementById('diagn').value);
    }

    function addText(text, vistpart) {
        vistpart = vistpart.toLowerCase();
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + text + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }


    function addFilledText(text, form_id, vistpart) {
        vistpart = vistpart.toLowerCase()
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + text + ' ' + document.getElementById(form_id).value + '.\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function addFilledChoices(text, form_ids, vistpart) {
        console.log(form_ids)
        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {
            if (document.getElementById(form_id[1]).value) {
                temptext = temptext + ' ' + form_id[0] + ' ' + document.getElementById(form_id[1]).value + '; '
            }
        }
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function addRadioText(patient_text, choice, vistpart) {
        vistpart = vistpart.toLowerCase();
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + patient_text.concat(' ', choice) + '\n'
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function addCheckedChoices(text, form_ids, vistpart) {

        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {

            if (document.getElementById(form_id[1]).checked) {
                temptext = temptext + ' ' + form_id[0] + ', '
            }
        }
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }


    function addCheckedChoicesAndText(text, form_ids, text_id, vistpart) {
        console.log(form_ids)
        console.log(text_id)
        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {

            if (document.getElementById(form_id[1]).checked) {
                temptext = temptext + ' ' + form_id[0] + ', '
            }
        }
        temptext = temptext + ' ' + document.getElementById(text_id).value
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }
</script>

{%  endblock script %}
{% block scriptend %}
<script>

    document.getElementsByName("enterclick").forEach(enterClick)

    function enterClick(item, index, arr) {
        item.addEventListener('keypress', function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                console.log(item.id)
                var enter_id = item.id.split('-')[0] + "button"
                document.getElementById(enter_id).click()
            }
        })
    }


    document.getElementsByName("patient_form").forEach(saveInSessionStorage)

    function saveInSessionStorage(item, index, arr) {
        item.addEventListener('input', function (event) {
            event.preventDefault();
            sessionStorage.setItem(item.id, event.target.value);
        })

    }


    document.getElementById("diagn").innerHTML = sessionStorage.getItem("diagn");
    document.getElementById("patient_name").innerHTML = sessionStorage.getItem("patient_name");
    document.getElementById("badanie").innerHTML = sessionStorage.getItem("badanie");
    document.getElementById("wywiad").innerHTML = sessionStorage.getItem("wywiad");
    document.getElementById("zalecenia").innerHTML = sessionStorage.getItem("zalecenia");

    function uncheckAll() {
        const inputsTF = document.querySelectorAll('input[type=checkbox], input[type=radio], input[type=text]');

        for (let i = 0; i < inputsTF.length; i++) {
            inputsTF[i].checked = false;
        }
        const inputsVal = document.querySelectorAll('input[type=text]');
        for (let i = 0; i < inputsVal.length; i++) {
            inputsVal[i].value = null;
        }
    }

    function clearSession() {
        sessionStorage.clear();
        document.getElementById("diagn").innerHTML = sessionStorage.getItem("diagn");
        document.getElementById("patient_name").innerHTML = sessionStorage.getItem("patient_name");
        document.getElementById("badanie").innerHTML = sessionStorage.getItem("badanie");
        document.getElementById("wywiad").innerHTML = sessionStorage.getItem("wywiad");
        document.getElementById("zalecenia").innerHTML = sessionStorage.getItem("zalecenia");
        uncheckAll()

    }

</script>
{% endblock scriptend %}
{% block sidebar %}

<form action="/patient_visit/" method="post">
    <div class=" col-md-11  buttons_list">
        <button type="reset" class="btn btn-outline-pink" onclick="clearSession()">Nowy formularz / Wyczyść</button>
        <button type="submit" class="btn btn-outline-turquoise">Zapisz</button>
    </div>
    <br>
    {% csrf_token %}

    <label class="my-form-label" for="patient_name">Pacjent: </label>
    <br>
    <textarea class="my-form-control" id="patient_name" type="text" name="patient_form" rows="1" cols="55"></textarea>
    <br>
    <label class="my-form-label" for="diagn">Rozpoznanie: </label>
    <br>
    <textarea class="my-form-control" id="diagn" type="text" name="patient_form" rows="2" cols="55"></textarea>
    <br>
    <label class="my-form-label" for="wywiad">Wywiad: </label>
    <br>
    <textarea class="my-form-control" id="wywiad" type="text" name="patient_form" rows="10" cols="55"></textarea>
    <br>
    <label class="my-form-label" for="badanie">Badanie: </label>
    <br>
    <textarea class="my-form-control" id="badanie" type="text" name="patient_form" rows="10" cols="55"></textarea>
    <br>
    <label class="my-form-label" for="zalecenia">Zalecenia: </label>
    <br>
    <textarea class="my-form-control" id="zalecenia" type="text" name="patient_form" rows="10" cols="55"></textarea>
    <br>
    <button type="submit" class="btn btn-outline-turquoise">Zapisz</button>
</form>
{% endblock sidebar %}