{% extends "base.html" %}

{% block script %}
<script>
    function uncheckOneText(input_type, input_id) {
        let inputData = 'input[type=' + input_type + '][id^=' + input_id + ']'
        const inputsTF = document.querySelectorAll(inputData);

        for (let i = 0; i < inputsTF.length; i++) {
            inputsTF[i].checked = false;
        }
        const inputsVal = document.querySelectorAll(inputData);
        for (let i = 0; i < inputsVal.length; i++) {
            inputsVal[i].value = null;
        }
    }

    function addDiagnosis(text) {
        document.getElementById('diagn').value = document.getElementById('diagn').value + text + '\n';
        sessionStorage.setItem('diagn', document.getElementById('diagn').value);
        radioText = false
        return radioText
    }

    function removeDiagnosis(text) {
        console.log(text)
        document.getElementById('diagn').value = document.getElementById('diagn').value.replace(text + '\n', '')
        sessionStorage.setItem('diagn', document.getElementById('diagn').value);
    }

    function addText(text, vistpart) {
        vistpart = vistpart.toLowerCase();
        if (!(document.getElementById(vistpart).value.includes(text))) {
            document.getElementById(vistpart).value = document.getElementById(vistpart).value + text + '\n';
            sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
        }
    }

    function removeText(text, vistpart) {
        vistpart = vistpart.toLowerCase();
        formlines = document.getElementById(vistpart).value.split('\n')
        for (var formline of formlines) {
            document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace(text + '\n', '')
        }
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }


    function addAndRemoveText(text, visitpart, text_id) {
        if (document.getElementById(text_id).checked) {
            addText(text, visitpart)
        } else {
            removeText(text, visitpart)
        }
    }

    function addFilledText(text, form_id, vistpart) {
        removeStartsWithText(text, vistpart, form_id)
        vistpart = vistpart.toLowerCase()
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + text + ' ' + document.getElementById(form_id).value + '.\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function removeStartsWithText(text, vistpart) {
        vistpart = vistpart.toLowerCase();
        formlines = document.getElementById(vistpart).value.split('\n')

        for (var formline of formlines) {
            if (formline.startsWith(text)) {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace(formline, '')
            }
        }
        endlines = document.getElementById(vistpart).value.split('\n')

        for (var endline of endlines) {
            if (endline === '') {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace('\n' + endline + '\n', '\n')
            }
        }
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);

    }

    function removeStartsWithTextAndUncheck(text, vistpart, text_id) {
        removeStartsWithText(text, vistpart)
        uncheckOneText('checkbox', text_id)
        uncheckOneText('text', text_id)
    }

    function addFilledChoices(text, form_ids, vistpart) {
        removeStartsWithText(text, vistpart, form_ids)
        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {
            if (document.getElementById(form_id[1]).value) {
                temptext = temptext + ' ' + form_id[0] + ' ' + document.getElementById(form_id[1]).value + '; '
            }
        }
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function addRadioText(patient_text, choice, vistpart, choices) {
        removeRadio(patient_text, choices, vistpart)
        vistpart = vistpart.toLowerCase();
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + patient_text.concat(' ', choice) + '\n'
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }


    function removeRadio(text, choices, vistpart) {
        vistpart = vistpart.toLowerCase();
        formlines = document.getElementById(vistpart).value.split('\n')

        for (var formline of formlines) {
            var templine = ''
            templine = formline.replace(text, '').trim()

            if (choices.includes(templine)) {
                console.log('true')
                console.log(formline)
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace(formline, '')
            }
        }
        endlines = document.getElementById(vistpart).value.split('\n')

        for (var endline of endlines) {
            if (endline === '') {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace('\n' + endline + '\n', '\n')
            }
        }
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);

    }

    function removeRadioAndUncheck(text, choices, vistpart, radio_id) {
        removeRadio(text, choices, vistpart)
        uncheckOneText('radio', radio_id)
    }

    function addCheckedCombined(text, form_ids, vistpart, choices) {
        removeCheckboxCombined(text, choices, vistpart)
        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {

            if (document.getElementById(form_id[1]).checked) {
                temptext = temptext + ' ' + form_id[0] + ', '
            }
        }
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function removeCheckboxCombined(text, choices, vistpart) {
        vistpart = vistpart.toLowerCase();
        formlines = document.getElementById(vistpart).value.split('\n')
        for (var formline of formlines) {
            var templine = ''
            templine = formline.replace(text, '').trim()
            for (let choice of choices) {
                if (templine.includes(choice)) {
                    document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace(formline, '')
                }
            }
        }
        endlines = document.getElementById(vistpart).value.split('\n')

        for (var endline of endlines) {
            if (endline === '') {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace('\n' + endline + '\n', '\n')
            }
        }
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }

    function removeCheckboxCombinedAndUncheck(text, choices, vistpart, checkobox_id) {
        removeCheckboxCombined(text, choices, vistpart)
        uncheckOneText('checkbox', checkobox_id)
    }


    function removeChecbox(choices, vistpart, checkobox_id) {
        vistpart = vistpart.toLowerCase();
        formlines = document.getElementById(vistpart).value.split('\n')
        for (var formline of formlines) {
            var templine = ''
            templine = formline.trim()
            if (choices.includes(templine)) {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace(formline, '')
            }
        }
        endlines = document.getElementById(vistpart).value.split('\n')
        for (var endline of endlines) {
            if (endline === '') {
                document.getElementById(vistpart).value = document.getElementById(vistpart).value.replace('\n' + endline + '\n', '\n')
            }
        }
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
        uncheckOneText('checkbox', checkobox_id)
    }


    function addCheckedChoicesAndText(text, form_ids, text_id, vistpart) {
        removeStartsWithText(text, vistpart)
        vistpart = vistpart.toLowerCase()
        var temptext = text
        for (var form_id of form_ids) {

            if (document.getElementById(form_id[1]).checked) {
                temptext = temptext + ' ' + form_id[0] + ', '
            }
        }
        temptext = temptext + ' ' + document.getElementById(text_id).value
        document.getElementById(vistpart).value = document.getElementById(vistpart).value + temptext + '\n';
        sessionStorage.setItem(vistpart, document.getElementById(vistpart).value);
    }


</script>

{%  endblock script %}
{% block scriptend %}
<script>

    document.getElementsByName("enterclick").forEach(enterClick)

    function enterClick(item, index, arr) {
        item.addEventListener('keypress', function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                console.log(item.id)
                var enter_id = item.id.split('-')[0] + "button"
                document.getElementById(enter_id).click()
            }
        })
    }

    function saveInSessionStorage(item) {
        item.addEventListener('input', function (event) {
            event.preventDefault();
            sessionStorage.setItem(item.id, event.target.value);
        })

    }

    const keys_to_save = ["patient", "diagnosis", "interview", "examination", "recommendations"];
    keys_to_save.forEach(key_to_save => {
        document.getElementsByName(key_to_save).forEach(saveInSessionStorage)
    });
    // document.getElementsByName("patient").forEach(saveInSessionStorage)
    // document.getElementsByName("diagnosis").forEach(saveInSessionStorage)
    // document.getElementsByName("interview").forEach(saveInSessionStorage)
    // document.getElementsByName("examination").forEach(saveInSessionStorage)
    // document.getElementsByName("recommendations").forEach(saveInSessionStorage)


    const session_storage_keys = ["diagn", "badanie", "wywiad", "zalecenia"];
    session_storage_keys.forEach(session_key => {
        const elementId = session_key;
        const value = sessionStorage.getItem(session_key);
        const element = document.getElementById(elementId);

        if (element) {
            element.innerHTML = value || "";
        }
    });

    document.getElementById("id_patient").value = sessionStorage.getItem("id_patient");

    function uncheckAll() {
        const inputsTF = document.querySelectorAll('input[type=checkbox], input[type=radio], input[type=text]');

        for (let i = 0; i < inputsTF.length; i++) {
            inputsTF[i].checked = false;
        }
        const inputsVal = document.querySelectorAll('input[type=text]');
        for (let i = 0; i < inputsVal.length; i++) {
            inputsVal[i].value = null;
        }
    }

    function clearSession() {
        sessionStorage.clear();
        document.getElementById("diagn").innerHTML = sessionStorage.getItem("diagn");
        document.getElementById("id_patient").value = sessionStorage.getItem("id_patient");
        document.getElementById("badanie").innerHTML = sessionStorage.getItem("badanie");
        document.getElementById("wywiad").innerHTML = sessionStorage.getItem("wywiad");
        document.getElementById("zalecenia").innerHTML = sessionStorage.getItem("zalecenia");
        uncheckAll()

    }

    function createPatientVisit(patientPk) {
        clearSession()
        document.getElementById("id_patient").value = patientPk;
        sessionStorage.setItem('id_patient', patientPk);
    }
</script>
{% endblock scriptend %}
{% block sidebar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                              <p class="turquoise "> NOWA WIZYTA</p>
                            </li>
    </ul>
     </div>
</nav>

<div class="row">
    <div class="col-md-11">
        <form method="post">
            {% csrf_token %}
            <div class="buttons_list">
                <button type="reset" class="btn btn-outline-pink" onclick="clearSession()">Nowy formularz</button>
                    <button name="patient_visit_submit" type="submit" class="btn btn-outline-turquoise">zapisz</button>
            </div>
            <br>

            {% for field in patient_visit_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            <br>
            {% endfor %}
            <div class="row">

                <div class="col-md-1">
                    <button type="button" class="btn btn-outline-lightpink" id="backButton">
                        anuluj
                    </button>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-2">

                    <button name="patient_visit_submit" type="submit" class="btn btn-outline-turquoise">zapisz</button>

                  </div>
            </div>
        </form>
    </div>
</div>
<div class=" col-md-1"></div>
{% endblock sidebar %}