{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap_modifications.css' %}">

    {% block link %}
    {% endblock link %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock script %}

</head>
<body>


<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="col-md-1 "></div>
                    <a class="navbar-brand-t " href="{% url 'visit:diagnosis_list' %}"> EASY Doctor </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'visit:diagnosis_list' %}">Rozpoznania</a>
                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="{% url 'patient:patient_list' %}">Pacjenci</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'patient:patient_create' %}">        <button type="button" class="btn btn-outline-lightturquoise btn-sm">+</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'patient_visit:patient_visit_list' %}"> Wizyty</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            {% block content %}
            {% endblock content %}

        </div>
        <div class="col-md-6">

            {% block sidebar %}
            {% endblock sidebar %}

        </div>
    </div>


</div>

{% block scriptend %}

{% endblock scriptend %}
<script>
    document.getElementById("backButton").addEventListener("click", function () {
        window.history.back();
    });
</script>
</body>
</html>
