{% extends 'visit/base_visit.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-1"></div>
    <div class="col-9 ">
        <div class="row">
            <div class="col-md-11">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                    <br>
                    {% endfor %}
                    <div class="row">

                        <div class="col-md-1">
                            <button type="button" class="btn btn-outline-lightpink" id="backButton">
                                anuluj
                            </button>
                        </div>
                        <div class="col-md-9"></div>
                        <div class="col-md-2">
                            <button type="submit" name="patient_create_submit" class="btn btn-outline-turquoise">
                                zapisz
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

{% endblock content %}
