{% extends 'visit/base_visit.html' %}
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>Pacjenci</h4>
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Data urodzenia</th>
            </tr>
            </thead>

            {% for patient in patients %}
            <tbody>
            <tr>
                <th scope="row">{{patient.id}}</th>
                <td><a class="turquoise" href="{{patient.get_absolute_url}}" > {{patient.get_full_name}}</a></td>

                <td><a class="turquoise" href="{{patient.get_absolute_url}}"> {{patient.birth_date}} </a></td>
            </tr>
            </tbody>

            {% empty %}
            {% endfor %}


        </table>
    </div>
        <div class="col-md-1"></div>
</div>
{% endblock content %}