{% extends 'visit/base_visit.html' %}
{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <br>
        <h4>Wizyty</h4>
        <table class="table  table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pacjent</th>
                <th scope="col">Data</th>
                <th scope="col">Rozpoznanie</th>
            </tr>
            </thead>

            {% for visit in patient_visits %}

            <tbody>

            <tr>
                <th scope="row">{{visit.id}}</th>
                <td> {{visit.patient}}</td>
                <td><a class="turquoise" href="{{visit.get_absolute_url}}"> {{visit.created_at}}</a></td>
                <td><a class="turquoise" href="{{visit.get_absolute_url}}"> {{visit.diagnosis}}</a></td>
            </tr>
            </tbody>


            {% empty %}
            {% endfor %}


        </table>
    </div>
</div>
{% endblock content %}